<table>
  <tr>
    <th>Троянов Никита</th>
  </tr>
  <tr>
    <td><img src="/assets/my_foto.jpg" height="300" width="400"></td>
    <td>
    	<table>
    	  <tr><td><%= link_to 'Обо мне', '#' %></td></tr>
    	  <tr><td><%= link_to 'Мои работы', '#' %></td></tr>
        <tr><td><%= link_to 'Сделать заказ', '#' %></td></tr>
        <tr><td><%= link_to 'Контакты', '#' %></td></tr>
    	</table>
    </td>
  </tr>





  
